<div class="d-flex justify-content-between align-items-center user_nav m-1 px-4 py-3">
    <div>
        <b>
            Dashboard
        </b>
    </div>
    <div class="ms-auto">
        <svg class="active" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23 16.6466V16.4395V15H22.5V16.7499C22.5 16.7499 22.5 16.75 22.5 16.75C22.5 16.8163 22.5264 16.8798 22.5732 16.9266L22.5733 16.9267L24.6036 18.9569L24.75 19.1034V19.3105V20.5V21H24.25H7.75H7.25V20.5V19.3105V19.1034L7.39645 18.9569L9.4267 16.9267L9.42675 16.9266C9.47361 16.8798 9.49996 16.8163 9.5 16.75C9.5 16.75 9.5 16.7499 9.5 16.7499V13.7505V13.75H10C9.99791 12.6961 10.274 11.6603 10.8003 10.7472C11.3267 9.83417 12.0846 9.07618 12.9977 8.5498C13.9107 8.02343 14.9465 7.74733 16.0004 7.74938C16.8658 7.75107 17.7183 7.94028 18.5 8.30133L23 16.6466ZM23 16.6466L23.1464 16.7931L25.1767 18.8233L25.1768 18.8234C25.2236 18.8702 25.25 18.9337 25.25 19C25.25 19 25.25 19.0001 25.25 19.0001V21.25C25.25 21.3163 25.2237 21.3799 25.1768 21.4268C25.1299 21.4737 25.0663 21.5 25 21.5H19.75H19.25V22V22.75C19.25 23.612 18.9076 24.4386 18.2981 25.0481C17.6886 25.6576 16.862 26 16 26C15.138 26 14.3114 25.6576 13.7019 25.0481C13.0924 24.4386 12.75 23.612 12.75 22.75V22V21.5H12.25H7C6.9337 21.5 6.87011 21.4737 6.82322 21.4268C6.77634 21.3799 6.75 21.3163 6.75 21.25V19.0001C6.75 19.0001 6.75 19 6.75 19C6.75004 18.9337 6.77639 18.8702 6.82325 18.8234L6.8233 18.8233L8.85355 16.7931L9 16.6466V16.4395V13.7503C9.00226 12.0155 9.64763 10.3432 10.8113 9.05664C11.9751 7.77001 13.5747 6.9606 15.3006 6.78493L15.75 6.73919V6.2875V5.25M23 16.6466L15.75 5.25M15.75 5.25H16.25V6.28825V6.73974L16.6991 6.78566C17.3166 6.84879 17.9223 6.99463 18.5 7.21888V7.75502C17.7113 7.42399 16.8623 7.25106 16.0014 7.24939L15.75 5.25ZM13.75 21.5H13.25V22V22.75C13.25 23.4793 13.5397 24.1788 14.0555 24.6945C14.5712 25.2103 15.2707 25.5 16 25.5C16.7293 25.5 17.4288 25.2103 17.9445 24.6945C18.4603 24.1788 18.75 23.4793 18.75 22.75V22V21.5H18.25H13.75Z"/>
            <path d="M23.5 13C25.1569 13 26.5 11.6569 26.5 10C26.5 8.34315 25.1569 7 23.5 7C21.8431 7 20.5 8.34315 20.5 10C20.5 11.6569 21.8431 13 23.5 13Z"/>
        </svg>
        <span>user name here</span>
    </div>
</div>