
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body{
    background-color: #5830C4;
}


.sign-in{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    max-width: 475px;
    max-height: auto;
    height: 100%;
    border-radius: 20px;
}

.sign-in img{
    min-width: 50px;
    max-width: 125px;
}

.sign-in h1{
    border-left: 7px solid #5730C3;
    font-size: 1.9rem;
    font-weight: 700;
    min-height: 100%;
    line-height: inherit;
}

.sign-in h2{
    font-weight: 600;
    font-size: 1.5rem;
}

.sign-in h4{
    font-weight: 400;
    font-size: 0.9rem;
    color: #6C6C6C;
}

.sign-in label{
    font-weight: 500;
    font-size: 1rem;
    color: #6C6C6C;
}

.sign-in input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CDCDCD;
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 1; /* Firefox */
  }
  
  .sign-in input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CDCDCD;
    font-weight: 400;
    font-size: 0.9rem;
  }
  
  .sign-in input::-ms-input-placeholder { /* Microsoft Edge */
    color: #CDCDCD;
    font-weight: 400;
    font-size: 0.9rem;
  }

.sign-in button{
    width: 100%;
    padding: 0.7em 0em;
    background-color: #5830C4;
}

/* Dashboard */

.dashboard_bg{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 20px 20px 0;
    position: relative;
    min-height: 100%;
    z-index: 99;
}
.navbar{
    
}

nav, #navbarSupportedContent{
    height: 90%;
    z-index: 99;
}

nav .d-flex , .nav{
    height: 100%;
}

nav img{
    min-width: 50px;
}

#navIcon{
    color: black;
}

.nav-link{
    font-weight: 600;
    font-size: 1.5rem;
    color: #6C6C6C;
    transition: 0.6s;
}

.nav-item{
    width: 100%;
    justify-content: center;
    display: flex;
}

.adjuster{
    width: calc(100vw - 85vw);
    text-align: left;
}


.nav-item:hover{
    border-left: #5830C4 solid 5px;
    transition: 0.3s;
}

.nav-link:hover{
    color: #5830C4;
    transition: 0.6s;
}
.navbar-toggler{
    margin-left: 90% !important;
}
.logout{
    text-align: center;
    margin-top: auto;
    
}

.logout a {
    position: sticky;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.3rem;
    color: white;
    transition: 0.6s;
    background: linear-gradient(255.18deg, #5830C5 17.48%, #582ECC 63.57%, #5830C5 88.78%);
    padding: 1rem 3rem;
}

.col-sm h2{
    color: white;
}

.burger {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    place-items: center;
    padding: 0;
    width: 82px;
    height: 82px;
    font-size: 30px;
    color: #5830C5;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  

  .burger i:last-child {
    display: none;
  }
  
  body.open .burger i:first-child {
    display: none;
  }
  
  body.open .burger i:last-child {
    display: block;
    color: white;
  }
  
  .overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(27 32 44 / 70%);
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(6px);
    transition: 0.3s;
  }
  
  body.open .overlay {
    visibility: visible;
    opacity: 1;
  }

@media (max-width: 1199.98px) {
    #navbarSupportedContent{
        height: 100%;
        overflow-y: scroll;
    }
    .burger {
        display: grid;
      }
    .navbar-collapse {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 260px;
        height: 100%;
        padding: 18px 20px 20px;
        border-radius: 0 25px 25px 0;
        background: white;
        box-shadow: 0 0 20px rgb(0 0 0 / 70%);
        display: none;
        transition: 1s;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    body.open .navbar-collapse {
        left: 0;
        display: block;
        transition: 1s;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    .nav-item{
        width: 100%;
        justify-content: unset;
        display: flex;
        width: auto;
    }
    .adjuster{
        width: unset;
        text-align: left;
    }
    .logout{
        margin-top: auto;
    }
    .dashboard_bg{
        position: fixed;
        border-radius: 0;
        height: 80px;
        top: 0;
        min-height: auto;
    }
}

/* body .row .col-sm .container {
    max-width: auto;
} */

.dash_info{
    position: relative;
    z-index: 1;
}

.dash_info .col-12 div{
    min-height: 48%;
    border-radius: 30px;
    padding: 2rem;
}

#pers_detail{
    background-color: #9D30AE;
    color: white;
    min-height: 400px;
}

#bonus{
    background: linear-gradient(194.66deg, #FFC90A -37.5%, #FCE575 40.08%, #FFC90A 104.09%, #FDF681 122.62%, #B783E3 156.18%, #FFFA87 156.18%);
    background-attachment: fixed; 
    color: white;
    min-height: 300px;
}

#community_spot{
    background-color: #2B7A29;
    color: white;
    height: 100%;
}


#user_name{
    position: relative;
    /* width: 90%; */
    background-color: #D33630;
    color: white;
}
#user_img{
    position: absolute;
    width: 13vh;
    height: 10vh;
    right: 1vh;
    align-self: center;
}
#alert-icon{
    color: white;
    fill: inherit;
    max-width: 7vh;
    align-self: baseline;
    
}
#user_lvl{
    position: relative;
    /* width: 90%; */
    background-color: #12C4B2;
    color: white;
}
#user_lvl_img{
    position: absolute;
    width: 13vh;
    height: 11vh;
    right: 1vh;
    align-self: center;
}

#recent_course{
    position: relative;
    /* width: 90%; */
    background: linear-gradient(169.73deg, rgba(204, 62, 7, 0.23) -132.03%, #DF7377 -58.87%);
    background-attachment: fixed; 
    color: white;
    
}
#recent_course-h3{
    display: grid;
    color: white;
    opacity: 0.7;
    justify-content: right;
}
#community{
    position: relative;
    /* width: 90%; */
    background: linear-gradient(182.25deg, #AEE1FD -85.84%, #388DF2 67%, #43A6DD 97.45%, #8DB9FD 156.04%, #C1CDE3 259.18%, #D99DCF 259.18%);
    background-attachment: fixed; 
    color: white;
  
}
#community div{
    padding: unset;
}

#community-svg{
    width: 11vh;
}

#bonus{
    position: relative;
}
#bonus div{
    background-color: inherit;
}
#coin-img{
    align-self: center;
    width: 12vh;
    height: 12vh;
}
.courses_container .col-12 div{
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    border-radius: 30px;
    min-height: 200px;
    padding: 2rem;
}


.courses_container div a{
    text-decoration: none;
    color: #5830C4;
}



/* index all posts*/

.posts_container a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #5830C4;
}

.posts_container a .row{
    background-color: white;
    border-radius: 30px;
    padding: 2rem;
}

.posts_container h3{
    font-weight: 600;
}

.posts_container h5{
    font-weight: 400;
}

.posts_container .row a{
    color: #5830C4;
    background-color: white;
    border-radius: 50px;
    padding: 0em 1.5em;
    border: 0px;
    font-size: 1.5rem;
    width: 40%;
    font-weight: 600;
    text-decoration: none;
}

.posts_container .row .col-2 span {
    background-image: url(../assets/community_comments.svg);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    background-size: 58px 57px;
    background-repeat: no-repeat;
    width: 58px;
    height: 57px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.posts_container a span{
    float: left;
}

.posts_container a .bi{
    float: right;
    font-size: 4rem;
}

@media (max-width: 1199.98px) {

    .posts_container .row a{
        width: unset;
    }
}


/* comments */

.comments_container{
    overflow-y: scroll;
    height: 80vh;
}

.comments_container .row{
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
    width: 50%;
}

.comments_container h3{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.comments_container p{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: #544d5aac;
    font-size: 0.9rem;
    word-wrap: break-word;
}

.comments_container .heart_inactive {
    background-image: url(../assets/heart_grey.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 49px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #5830c4;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.comments_container .heart_active {
    background-image: url(../assets/heart.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 55px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.container .comment_send{
    background-color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 50px;
}

.comment_send div{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    
}

.comment_right{
    margin-left: auto; 
    margin-right: 0;
}

.current_user_comment, .user_comment{
    text-align: right;
}

.comment_send div input{
    font-weight: 600;
    border: 0;
    width: 70%;
    background-color: transparent;
}

.comment_send button{
    justify-content: end;
    background-color: #5A0FC8;
    border-radius: 100%;
    padding: 0.8rem;
    border: 0;
}

.comment_send input:focus{
    outline: none;
}


/* leader board */

.leadboard_container{
    background-color: white;
    border-radius: 25px;
    min-height: 80vh;
    padding: 6em 5em;
}

.leadboard_container .row{
    background-color: #5830C5;
    border-radius: 25px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    padding: 1.5em 1em;
    font-size: 1.3rem;
}

.leadboard_container .row svg{
    fill: white;
}

@media (max-width: 1199.98px) {

    .leadboard_container{
        padding: 3em 2em;
    }

    .leadboard_container .row{
        padding: 1em 0.3em;
    }
}

/* lessons */

.lessons_container{
    height: 80vh;
}

.lessons_container .row{
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
}



  /* cycle */

  /* Size and Background  */

  #circles_container{
    min-height: 80vh;
  }

 .container .menu{
    padding-left: 0;
  }

.toggle img {
    width: 70px;
    cursor: pointer;
  }
  .menu li img {
    width: 30px;
  }
  /* Menu Items */
  .menu {
    position: relative;

    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 120px;
    transform: rotate(0deg) translateX(0px);
  }
  /* Animations */
  .menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)) ) translateX(310px);
  }
  .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px ;
    height: 120px;
    color: var(--clr);
    border: 2px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / -8 * var(--i)));
    transition: 1s;
  }
  .menu li a:hover {
    transition: 0;
    background: var(--clr);
    color: #333;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr); 
  }
  .toggle:hover {
    filter: grayscale(100%);
    box-shadow: 0 0 10px #fff; 
  }
  .menu .toggle {
    position: relative;
    width: 120px;
    height: 120px;
    background: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 10000;
    font-size: 2rem;
    transition: trasform 2.25s;
  }
 

/* Cards lesson*/


#cards-container{
    overflow-x: scroll;
    align-items: end;
    min-height: 70vh;
    min-width: 100%;

}

#cards-container .col{
    background-color: white;
    border-radius: 25px;
    min-height: 50vh;
    min-width: 40vh;
    margin: 1vh;
}

.lessons_container > #cards-container{
    background-color: unset;
    max-width: 100vh;
    
}

.lessons_container > #cards-container{
    background-color: unset;
    max-width: 100vh;
}

.container > #cards-container{
    max-width: 100vh;
}

#cards-container .col:hover{
    background-color: white;
    border-radius: 25px;
    min-height: 70vh;
    margin: 0vh 1vh 0vh 1vh;
}

.active_card{
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

/* video lesson */

.lessons_container > #video-container{
    background-color: unset;
    max-width: 100vh;
    padding: unset;
}

#video-container h5{
    color: white;
}

#btn-div{
    background-color: unset;
    padding: unset;
}
.youtube-video {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
}

#btn-div button{
    border-radius: 19px;
    font-size: 1.3rem;
    padding: 0.5em 0;
    min-width: 250px;
    max-width: 250px;
}

#btn-previous{
    background-color: #6D7D93;
    border: 1px solid #6D7D93;
    color: white;
   
}
#btn-next{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #5830C5;
}

/* interactive image */

.image_container {
    width: max-content;
    position: relative;
    cursor: "crosshair";
}

#dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: red;
    transform: translate(100, 0);
}

/* creating stuff styling */

.create_card{
    background-color: white;
    padding: 2em 4em;
    border-radius: 15px;
}

.create_card .form-group{
    padding: 0.5em 0;
}

.create_card textarea{
    min-height: 5em;
}

.create_card button{
    text-align: right;
    background-color: #5A0FC8;
}

/* quizzes */
.quizzes_container{
    height: auto;
}

.answerWrapper{
    position: relative;
}

#success{
    position: fixed;
    top: 50%;
    left: 58%;
    padding: 4em 10em;
    /* bring your own prefixes */
    transform: translate(-50%, -58%);
    z-index: 15;
}
#success.active .answerWrapper div{
    background: linear-gradient(174.94deg, rgba(0, 225, 22, 0.88) 31.13%, rgba(0, 253, 25, 0.812353) 69.56%, rgba(0, 255, 25, 0.738908) 111.28%, rgba(0, 225, 22, 0) 531.07%);
    mix-blend-mode: normal;
    filter: blur(37px);
    border-radius: 10px;
    position: relative;
}
#success svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1199.98px) {

    #success{
        top: 50%;
        left: 50%;
        padding: 4em 10em;
        transform: translate(-50%, -50%);
    }
}
/* tnf */

#tnf_container{
    margin-top: 20vh;
    background-color: white;
    border-radius: 80px 80px 0 0 ;
    height: 80vh;
    overflow-y: hidden;
}

#tnf_container h1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;

    color: #5830c563;
}

#tnf_container label{
    position: relative;
}
#tnf_container label input{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}


input[id="correct"]:hover + svg,
input[id="correct"]:checked + svg,
input[id="correct"]:focus + svg{
    fill: #0FD93C;
}
input[id="uncorrect"]:hover + svg,
input[id="uncorrect"]:checked + svg,
input[id="uncorrect"]:focus + svg{
    fill: #CD0C0C;
}


#tnf_container label svg{
    width: 10vw;
}

#tnf_container input + svg {
	cursor: pointer;
}

input[type="radio"]:checked ~ label {
    opacity: 1;
      border: 1px solid ;
}


#tnf_container button{
    background-color: #5830C5;
    border-radius: 25px;
    color: white;
    border: 1px solid transparent;
    padding: 0.5em 3em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}






