<div class="form-group">
    <input type="text" class="form-control" name="information" placeholder="Enter main title"> 
    <input type="text" class="form-control" name="information" placeholder="Enter main information">
    <input type="text" class="form-control" name="information" placeholder="Enter main title"> 
    <input type="text" class="form-control" name="information" placeholder="Enter main information">
</div>