<div class="form-group">
    <input type="text" class="form-control" name="information" placeholder="Enter main title" value="<%= lesson.data[2] %>">
    <input type="hidden" class="form-control" id="xPos" name="xPos" hidden>
    <input type="hidden" class="form-control" id="yPos" name="yPos">
    <div class="form-group">
        <h5>Image preview and selection:</h5>
        <div class="image_container">
            <img id="frame" src="/uploads/courses/lessons/<%= lesson.data[0] %>" width="100px" width="200px"/><span id="dot" />
        </div>
        <label for="interAud">Upload the audio file:</label>
        <input type="file" name="interAud" accept=".mp3">
        <br>
        <label for="interImg">Upload the image file:</label>
        <input type="file" id="myFile" onchange="preview()" name="interImg" accept=".png, .jpg, .jpeg">
    </div>
</div>
<script>
        let container = document.querySelector('#frame');
        let dot = document.getElementById('dot');
        let xReturn = document.getElementById('xPos')
        let yReturn = document.getElementById('yPos')
        const correctX = parseInt(<%- lesson.data[3] %>);
        const correctY = parseInt(<%- lesson.data[4] %>);
        dot.style.left = correctX + "px";
        dot.style.top = correctY + "px";
        document.addEventListener('click', function( e ) {
        if (container === event.target && container.contains(e. target)) {
        var parentPosition = getPosition(container);
            var xPosition = e.clientX - parentPosition.x - (dot.clientWidth / 2);
            var yPosition = e.clientY - parentPosition.y - (dot.clientHeight / 2);
            
            dot.style.left = xPosition + "px";
            dot.style.top = yPosition + "px";
            xReturn.value = xPosition;
            yReturn.value = yPosition;
            console.log(xReturn.value);
            console.log(yReturn.value);
    }
    });
        
</script>
<script>
    function preview() {
        frame.src=URL.createObjectURL(event.target.files[0]);
    }
</script>
<script>        
    // Helper function to get an element's exact position
    function getPosition(el) {
      var xPos = 0;
      var yPos = 0;
     
      while (el) {
        if (el.tagName == "BODY") {
          // deal with browser quirks with body/window/document and page scroll
          var xScroll = el.scrollLeft || document.documentElement.scrollLeft;
          var yScroll = el.scrollTop || document.documentElement.scrollTop;
     
          xPos += (el.offsetLeft - xScroll + el.clientLeft);
          yPos += (el.offsetTop - yScroll + el.clientTop);
        } else {
          // for all other non-BODY elements
          xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
          yPos += (el.offsetTop - el.scrollTop + el.clientTop);
        }
     
        el = el.offsetParent;
      }
      return {
        x: xPos,
        y: yPos
      };
    }
    </script>