<div class="form-group">
    <div id="data-input">
        <label for="information">Lesson type video and the youtube identifier is:</label>
        <input type="text" class="form-control" name="information" placeholder="Enter youtube identifier" value="<%- lesson.data %>">
    </div>
</div>